<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>17A0DBAF-5496-4666-94CB-0279F2D3E92D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57E85F81-EE21-40AC-8E55-19A91E13FC72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57E85F81-EE21-40AC-8E55-19A91E13FC72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75BB7369-674D-46B7-A23B-A17BE801B4FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB8ECFD3-E862-4712-99FF-98FFD6A90A44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Matthews</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URLEncode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>String: {query}</string>
				<key>title</key>
				<string>Here's your URL Encoded string</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75BB7369-674D-46B7-A23B-A17BE801B4FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python urlencode.py "{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57E85F81-EE21-40AC-8E55-19A91E13FC72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CB8ECFD3-E862-4712-99FF-98FFD6A90A44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>encode</string>
				<key>text</key>
				<string>URLEncodes a string</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>17A0DBAF-5496-4666-94CB-0279F2D3E92D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>17A0DBAF-5496-4666-94CB-0279F2D3E92D</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>57E85F81-EE21-40AC-8E55-19A91E13FC72</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>75BB7369-674D-46B7-A23B-A17BE801B4FE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CB8ECFD3-E862-4712-99FF-98FFD6A90A44</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
